# .env.example

# Port the server listens on (client must connect to this)
PORT=5055

# Logging: error, warn, info, verbose, debug, silly
LOG_LEVEL=info

# Steam/RecNet
STEAM_WEB_API_KEY=
RECNET_VERIFY_URL=

# SQLite DB file
SQLITE_FILE=./helium.db
